.container-fluid{
    padding-left:40px !important;
    padding-right:40px !important;
}
.title-detail-product{
    font-size: 28px;
    font-weight: normal;
    margin-block-start: 0;
}
.c-gold{
    color: #f7c703;
}
.align-items-center{
    align-items: center !important;
}
.c-grey{
    color: #c6c6c6;
}
.w-100{
    width:100% !important;
}
.c-white{
    color: #fff !important;
}
.padding-0-15{
    padding: 0 15px;
}
.border-0{
    border:0 !important;
}
.border-left-0{
    border-left: 0 !important;
}
.border-right-0{
    border-right: 0 !important;
}
.justify-content-between{
    justify-content: space-between;
}
.navbar-right-user li a{
    background: transparent !important;
}
.navbar_custom .navbar-collapse{
    padding: 0; 
}
.navbar-right-user li{
    display: flex;
    align-items: center;
}
.navbar-right-user li a{
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 14px;
    position: relative;
    color: #fff !important;
    
}
.navbar_custom .nav-link{
    color: #fff !important;
}

.dropdown-categories-navbar{
    padding: 5px 15px !important;
    font-size: 14px !important;
    background-color: transparent !important;
}
.close>.dropdown-categories-menu .Sidenav-backdoor{
    display: none;
}
.dropdown-categories-menu{
    max-height: 540px;
    overflow-x: auto;
}
.dropdown-categories-navbar a{
    background-color: transparent !important;
}
.dropdown-categories-menu a{
    color:#333 !important;
    padding: 5px 15px !important;
    
}
.input-search-header{
    height: 45px;
    font-size: 12px !important;
    border: 0 !important;
    color: black !important;
}
.btn-search-header{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #009a51;
    position: absolute !important;
    right:0.5em;
    color: #fff !important;
    top: 5px;
    width:60px;
}
.btn-product-detail-cart{
    width: 100% !important;
    height: 45px;
    font-size: 14px;
    font-weight:bold;
    letter-spacing: 1px;
    margin-top: 0.5em;
    color: #fff !important;
    background: #00b34d!important;
}
.btn-product-detail-wishlist{
    width: 100% !important;
    height: 40px;
    background: white !important;
    border: 1px solid #d2d2d2 !important;
    font-size: 14px;
    margin-top: 0.5em;
    font-weight: bold;
}
.p-detail-product-first{
    padding-right: 2.5px;
}
.p-detail-product-last{
    padding-left: 2.5px;
}
.d-flex{
    display: flex !important;
}
.w-100{
    width: 100% !important;
}
.header_wrapper{
}
.your-class .slick-slide{
    outline: none !important;
}
.your-class .slick-slide img{
    display: block;
    width: 100%;
    height: 300px;
}
.slick{
    padding:0 15px !important;
}
.opsi-categories-navbar{
    position: relative;
    top: 10px;
    display: -webkit-box;
    overflow-x: hidden;
    overflow-y: hidden;
}
.Sidenav-backdoor{
    position: fixed;
    top: 0;
    opacity: .32;
    height: 100%;
    z-index: 999;
    background-color: #000;
}
.opsi-categories-navbar div:first-child a{
    padding:10px 10px 10px 0;
}
.opsi-categories-navbar a{
    color: white !important;
    font-weight: 600;
    padding: 10px;
}
.navbar_custom .navbar-right li{
    border-left: 1px rgba(0,0,0,0.1) solid;
    padding: 0 5px;
}
.navbar_custom .navbar-right li:last-child{
    border-right: 1px rgba(0,0,0,0.1) solid;
}
.navbar_custom .navbar-right .nav-link{
    height: 60px;
}
.navbar_custom{
    background:#009a51 !important;
    color: #fff !important;
    height: 60px;
}
.navbar_custom{
    z-index: 2000;
    position: fixed !important;
    top: 0 !important;
    width: 100%;
    
}
.navbar_custom .btn-login-header{
    background: transparent;
    border: 1px white solid;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: 1.3em;
    width: 90px;
}
.navbar_custom .navbar-header a{
    padding: 20px 15px;
    color: #fff !important;
}
.navbar_custom .dropdown-menu-user{
    top: 5em;
    padding: 1em 0;
}
.navbar_custom .dropdown-menu-user li{
    padding: 5px 15px;
}
.navbar_custom .dropdown-menu-user li a{
    color: black !important;
    font-weight: 600;
    padding:  0 !important;
    font-size: 13px !important;
}
.navbar_custom .dropdown-menu-user .text-hello{
    color: #999 !important;
    font-size: 12px;
    padding: 5px 15px 0 15px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.navbar_custom .dropdown-menu-user .text-person{
    font-size: 14px !important;
    font-weight: bold;
    padding: 5px 15px 0 15px;
    margin-block-start: 0;
    margin-inline-end: 0;
    color: black !important;
}
.navbar_custom .btn-register-header{
    background: white;
    color: #009a51 !important;
    position: relative;
    top: 1.3em;
    font-size: 12px;
    font-weight: bold;
    width: 90px;
}
.navbar-form .form-control{
    width: 100% !important;
}
.img-header-second:first-child img{
    height:143px;
}
.img-header-second:last-child img{
    height:143px;
}

.btn-count-product-stock{
    background: #f2f2f2;
    border: 1px #ddd solid;
    color: black !important;
    font-size: 8px !important;
    border-radius: 0 !important;
}
.border-radius-0{
    border-radius: 0 !important;
}
.product-detail-price{
    color: #009a51 !important;
    font-size: 28px;
    font-weight: 600;
}
.text-info-price{
    color: #6c757d !important;
    font-size: 12px;
}
.text-info-title-detail-product{
    font-size: 12px;
    color: #15499a;
    font-weight: 600;
    padding-left: 5px;
}
.image-product-box{
    background-size: cover !important;
    background-position: center !important;
    height: 250px;
    width: 100%;
}
.image-product-box img{
background-size: contain;
width: 100%;
background-repeat: no-repeat;
transition: 0.5s;
}
.title-product-item{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    margin-block-start: 0;
    padding-top: 0.5em;
    color: black !important;
}
.footer-product-item{
    display:flex;
    justify-content: space-between;
    padding: 0.5em 0 0.5em 0;
}
.footer-product-item i{
    font-size: 12px;
}
.price-product-item{
    font-size: 13px;
    color: #009a51;
    
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

.product-description .ibox-title{
    font-size: 16px;
    font-weight: 600;
}
.title-product-opsi{
    font-size: 16px;
    color: black !important;
    position: relative;
    top:0.5em;
    font-weight: 600;
}
.title-product-opsi-same{
 font-size: 16px;
    color: black !important;
    font-weight: 600;
    padding:15px;   
}
.slick .slick-prev-product{
    position: absolute;
    top: 48%;
    z-index: 99;
    left: -15px;
    background: #666;
    border: 1px #666 solid;
    padding: 5px 10px;
    color: #fff;
}
.slick .slick-next-product{
    position: absolute;
    bottom: 48%;
    float: right;
    right: -15px;
    z-index: 99;
    
    background: #666;
    border: 1px #666 solid;
    padding: 5px 10px;
    color: #fff;
}
.ibox{
    border: 1px solid #ddd;
}
.ibox-title{
    border-top: 0;
    border-bottom: 1px solid #ddd;
}
.ibox-content{
    border-top: 0;
    box-shadow: 0 !important;
}
.dashboard-frontpage .ibox .ibox-content, .dashboard-frontpage .carousel{
    box-shadow: 0 !important;
}
.product-box-item:hover > .image-product-box img{
    opacity: 0.1;
    transition: 0.5s;
}
.slick .product-box-item{
    margin: 0 5px;
    outline: none;
}
.icon-categories{
    width:40px;
    height:40px;
    display: block;
    margin:1em auto 0 auto;
}
.title-categories{
    text-align: center;
    font-size: 18px;
    color: black !important;
    font-weight: 600;
    padding: 0 15px;
}
.title-categories::after{
    content:"";
    display: block;
    margin: 0.8em auto 2em auto;
    background: red;
    width: 80px;
    height: 2px;

}
.text-categories{
    display: block;
    text-align: center !important;
    font-weight: 600;
    color: rgba(0,0,0,.8);
    letter-spacing: 1px;
    padding: 1em 15px 0 15px;
    
    font-size: 14px;
}
.ibox_content_categories .col-md-2{
    padding: 1em 0;
    transition: 0.5s;
    height: 150px;
}
.ibox_content_categories{
    padding: 1em 0;
}
.ibox_content_categories .row{
    margin-right: 0;
    margin-left: 0;
}
.ibox_content_categories .col-md-2:hover{
    box-shadow: 0 0 0.8125em 0 rgba(0,0,0,.05);
    transition: 0.5s;
}
.follow_social_media_section{
    border-top: 1px solid #efeff4;
    border-bottom: 1px solid #efeff4    ;
    margin-bottom:1em;
}
@media(max-width:400px){
    .column-product-item{
        width: 100% !important;
    }
    .image-product-box{
        height: 300px;
    }
}
.follow_social_media_section .icon-facebook{
    color: #fff;
    background: #3b5999;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 100px;
}
.follow_social_media_section .icon-twitter{
    color: #fff;
    background: #55acee;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 100px;
}
.navbar-right-user a{
    font-size: 12px !important;
}
.navbar-right-user i{
    font-size: 18px;
}
.follow_social_media_section .icon-instagram{
    color: #fff;
    background: #e4405f;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 100px;
}
.follow_social_media_section .icon-linkedin{
    color: #fff;
    background: #0077B5;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 100px;
}
.social-media-column{
    text-align: right;
    float: right;
    position: relative;
    top: 1.8em;
}
.product-opsi-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 15px;
    margin-bottom: 1.5em;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.view-more-product{
    background: #f9f9f9;
    font-size: 12px !important;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: black;
    border: 1px solid #ccc;
    height: 30px;
}
.text-social-media{
    font-size: 14px;
    padding-right: 15px;
    position: relative;
    top: 0.5em;
    font-weight: 600;
    color: black !important;
}
.img-payment-method{
    width: 80px;
    height: 30px;
    margin: 0.1em;
    margin-right: 5px;
}
.text-description-footer{
    font-size:13px;
    line-height: 2;
}
.title-footer-item{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0.5em;
    color: black;
}
.list-description-footer{
    list-style-type: none;
    line-height: 2;
    font-size:13px;
    padding: 0;
}
.footer-wrapper{
    padding: 2em 0;
}
.footer-copy-wrapper{
    border-top: 1px solid #efeff4;
    padding: 2em 0;
}
.navbar{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
}
.text-name-header{
    display: none;
}
.dropdown-menu-user{
    width:200px;
}
@media (max-width: 992px) {
    .navbar_custom .navbar-header a{
        font-size: 16px !important;
    }
    .breadcumb-header{
        padding: 1em 15px !important;
    }
    .navbar-header {
        float: none;
        padding: 0 15px 0 0;
    }
    .column-opsi-filter-group{
        display: none !important;
    }
    .navbar-right-user li{
        display: block;
    }
    .navbar_custom .btn-login-header{
        background: transparent;
        color: #009a51;
        border: 1px #009a51 solid;
        margin-right: 0 !important;
    }
    .navbar_custom .btn-register-header{
        background: #009a51;
        color: #fff !important;
        font-weight: 600;
    }
    .navbar_custom .navbar-right li{
        border: 0 !important;
    }
    .navbar-collapse a{
        font-size: 14px;
    }
    .navbar_custom .navbar-right .nav-link{
        height: auto;
    }
    .text-hello{
        display: none;
    }
    .text-person{
        display: none;
    }
    .navbar_custom .dropdown-menu-user .divider{
        display: none;
    }
    .navbar_custom .dropdown-menu-user{
        padding: 0 !important;
    }
    .navbar_custom .navbar-right .nav-link a{
        
        font-size: 14px !important;
    }
    .navbar_custom .dropdown-menu-user li a{
        color: #676a6c !important;
        padding: 5px 15px !important;
    }
    .navbar_custom .dropdown-menu-user{
        border: 0 !important;
    }
    .nav-link-shopping-cart i:after{
        content: "Keranjang Belanja";
        font-size: 14px !important;
        padding-left: 5px;
        font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 600;
    }
    .container-fluid{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .text-name-header{
        display:inline-block;
        padding-right:10px;
    }
    .img-header-column{
        padding-left: 15px !important;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-toggle{
        background: transparent !important;   
        font-size:18px !important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar .container{
        padding-right:15px !important;
    }
    .navbar .btn-group-header{
        display: flex;
        margin: 0 15px;
    }
    .collapse.in{
        display:block !important;
        
    }
    .form-header-notlogin{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .navbar-collapse{
        left: 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100%;
        padding: 0 15px 1em 15px !important;
        position: absolute;
        background: white;
        left: 0;
    }
    .dropdown-categories-navbar{
        display: none !important;
    }
    .navbar_custom .nav-link a{
        color: #676a6c !important;
    }
    .input-search-header{
        border: 1px solid #e5e6e7 !important;
    }
    .navbar .opsi-categories-navbar{
        position: static;
        margin-top:0.5em;
        
    }
    .btn-group-header{
        margin: 0 !important;
    }
    .btn-group-header button{
        position:static !important;
        margin-top:1em;
    }
    .form-header-login{
        width:100% !important;
    }
    .navbar-right-user li a{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .form-header-notlogin{
        width:100% !important;
        padding: 0 !important;
        margin-top:1em;
        height: auto !important;
    }
    .navbar_custom .dropdown-menu-user{
        position: static !important;
        width:100%;
    }
    .social-media-column{
        position:static !important;
        margin-bottom: 1em !important;
        padding: 0 15px;
    }
    .form-header-login{
        padding: 0 !important;
        width: 100%;
    }
}
@media(max-width:767px){
    .form-header-notlogin{
        padding: 0 15px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .column-product-filter{
        min-height: auto !important;
    }
    .navbar-toggle{
        margin-right: 0;
    }
    .form-header-login{
        padding: 0 !important;
        height: auto !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .navbar-right-user{
        padding: 0 15px !important;
    }
    .dropdown-menu-user{
        background: white !important;
        color:black !important;
    }
    .breadcumb-header{
        padding: 1em 15px !important;
    }
    .column-profile-frame--sidebar{
        padding: 0 5px !important;
    }
}
@media(max-width:1199px) and (min-width:993px){
    .form-header-notlogin{
        width:74% !important;
    }
    .form-header-login{
        width: 29% !important;
    }
    .btn-search-header{
        width:40px;
        font-size: 12px;
    }
}
@media(max-width:325px){
    .column-footer-social{
        padding: 0 15px;
    }
    .column-footer-social .social-media-column{
        display: block !important;
        text-align: center;
        width: 100%;
    }
    .column-footer-social .social-media-column div{
        justify-content: center;
        margin-top: 1em;
    }
    .column-footer-logo{
        padding: 0 15px !important;
    }
    .column-footer-logo img{
        width:100%;
    }
}
@media(max-width:360px){
    .column-empty-transaction img{
        width: 100% !important;
        height: auto !important;
    }
    .column-empty-transaction button{
        width: auto !important;
        padding: 15px !important;
    }
    

}

/* important */
.top-navigation .nav > li a:hover, .top-navigation .nav > li a:focus{
    background: transparent !important;
}
.not-login .navbar-right > li > a{
    padding: 0 !important;
}   
.btn-scrollTop{
    position: fixed;
    bottom: 15px;
    background:#666;
    right: 15px;
    color: #fff;
    
}
/* //login style */
.header_login_section {
    min-height: 88.1vh;
    display: flex;
    align-items: center;
}

.img-header {
    max-width: 90%;
    width: auto;
}

.navbar-login {
    position: relative;
    width: 100%;
    z-index: 999;
    background: transparent !important;
}

input:focus,
input.form-control:focus {

    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.title-login-page {
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 1px;
}

.desc-login-page {
    color: #a6a6a6;
    font-weight: 600;
    padding-bottom: 15px;
    font-size: 15px;
}

@media(max-width:992px) {
    .img-header {
        display: none;
    }
}

.btn-login-page {
    width: 100%;
    background: #009a51;
    color: #fff !important;
    padding: 7.5px 15px;
    font-weight: bold;
    outline:none !important;
    border: 0 !important;
    margin-top: 1em;
    letter-spacing: 1px;
}

.btn-register-opsi {
    width: 100%;
    background: white;
    padding: 7.5px 15px;
    font-weight: 600;
    border: 1px solid #d2d2d2 !important;
    color: #4d4d4d;
    font-size: 14px !important;
    outline:none !important;
    
    letter-spacing: 1px;
}

.text-opsi-login {
    margin: 2em 0 2em 0;

    line-height: 0;
    text-align: center;
    font-size: 14px;
}

.text-opsi-login span {
    background-color: #fff;
    padding: 1em;
}

.text-opsi-login:before {
    content: " ";
    display: block;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #f7f7f7;
}

.header_login_section input[type="checkbox"]+label {
    display: block;
    position: relative;
    font-size:14px;
    top: 1em;

}

.header_login_section input[type="checkbox"]+label::before {
    content: '';
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #e5e6e7;
}

.header_login_section input[type="checkbox"]:checked+label::before {
    background: white;
    border: 1px solid #e5e6e7;

}

.header_login_section input[type="checkbox"]:checked+label::after {
    content: '';
    color: #fff;
    position: absolute;
    top: 2px;
    left: 0;
    border-left: 2px solid #5867dd;
    border-bottom: 2px solid #5867dd;
    height: 7px;
    width: 23px;
    transform: rotate(-45deg);
}


.header_login_section input[type="checkbox"] {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.header_login_section input[type="checkbox"]:disabled+label {
    color: #575757;
}

.header_login_section input[type="checkbox"]:disabled+label::before {
    background: #ddd;
}
input:focus,
input.form-control:focus {

    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.btn-see-password {
    background: transparent;
    color: #666666;
    position: absolute;
    border: 0 !important;
    outline: none !important;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px !important;
}

.input-group-prepend {
    width: 50px;
}

.input-group-text {
    width: 50px;
    display: flex;
    justify-content: center;
}
.header_login_section .form-control{
    font-size:14px;
}
.product-filter-field-group{
    border-top: 2px #009a51 solid !important ;
    border : 1px solid #efeff4;
    padding: 10px 5px;
}
.product-filter-field-group ul{
    padding: 0 20px;
    color: #009a51 !important;
    font-weight: 600;
    font-size:12px !important;
}
.product-filter-field-group ul li{
    padding: 5px 0;
}

.thumbnail{
    border:1px solid #efeff4;
    padding:0;
}
.column-product-filter{
    min-height: 180vh;
    border-left: 1px solid #efeff4;
}
.header-search-filter-group{
    padding:1em 40px;
    border-bottom: 1px solid #efeff4;
    display: flex;
    align-items: center;
}

.text-header-filter{
    font-size: 18px;
    
}
.product-filter-field-group input{
    font-size: 12px;
}
.product-filter-field-group select{
    cursor: pointer;
    font-size: 12px;
}
.text-header-filter span{
    color: #009a51 !important;  
}
.header-product-item-filter{    
    font-size: 14px;
    padding: 1em 0 5px 0;
    
    color: #009a51 !important;  
    font-weight: bold;
}
.select-opsi-filter{
    background: #fff;
    height: 30px;
    cursor: pointer;
    border: 1px solid #e5e6e7;
}
.btn-filter-opsi{
    background-color: #fafafa;
    border: 1px #ddd solid;
    color: black;
    margin-right: 5px;
    padding: 5px 10px;
}
.column-opsi-filter-group{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.breadcumb-header{
    padding: 1em 40px;
    border-bottom: 1px solid #efeff4;
}
@media(max-width:992px){
    .header-search-filter-group{
        display: block;
        padding: 1em 15px !important;
        
    }
    .header-search-filter-group .text-header-filter{
        font-size: 14px !important;
    }
}
.btn-submit-filter-item{
    background-color: #f5f5f5;
    border: 1px solid #d6d6d6;
    font-size: 14px;
    padding: 5px 10px;
}
.entry-v-nav__heading{
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}
.title-product-group {
    min-height: 4em;
    padding-top: 0.5em;
}
.title-product-group  a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}
.padding-15{
    padding:15px !important;
}
.thumbnail-header{
    position: relative;
    padding: 15px;
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    color: black !important;
    font-size: 13px;
}
.column-left-cart-item-product{
    display: flex;
}
.column-description-cart-product{
    padding: 0 0 0 15px
}
.title-cart-product-item{
    font-size: 14px;
    font-weight: normal !important;
}
.column-right-cart-item-product{
    display: flex;
    justify-content: flex-end;
}
.column-right-cart-item-product button{  
    color: #e60000 !important;
    background: transparent !important;
    border: 0 !important;
    padding: 0 !important;
    font-weight: normal !important;
}
.column-group-cart-item-product{
    padding: 2em 15px;
    margin:0;
    border-bottom: 1px solid #efeff4;
}
.column-group-cart-item-product:last-child{
    border-bottom: 0 !important;
}
.btn-count-item{
    background-color: #f5f5f5;
    font-size: 8px !important;
    color: black;
    font-weight: 100;
}
.column-right-cart-item-product button{
    border: 0;
}
.img-item-product-cart{
    width: 60px;
    height: 60px;
    border: 1px #ddd solid;
}
.text-item-full-cart{
    font-size: 14px;
    padding: 25px 0;
}
.column-right-cart-item-product h5{
    font-size: 14px;
    padding-right: 1em;
    font-weight: normal;
}
.btn-checkout-cart{
    width: 100% !important;
    background: #009a51 !important;
    color: white;
    padding: 10px 15px;
    margin-bottom: 2em;
    font-size:14px;
    border-radius: 0;
    font-weight: bold;
}
.text-price-cart-product{
    color: #009a51 !important;
    font-weight: bold;
    font-size: 14px !important;
}
.column-full-price-cart{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #efeff4;
    padding: 5px 0 10px 0;
    
    font-size: 16px;
    font-weight: bold !important;
}
.column-full-price-cart h5{
    font-weight: bold !important;
    font-size: 14px !important;
}
.column-empty-cart img{
    width:300px;
    height:300px;
}
.column-empty-cart h5{
    color: #333;
    font-size: 16px;
    padding-top: 2em;
}.column-empty-cart p{
    color: #999;
    margin-bottom: 30px;
}
.column-empty-cart button{
    background: #009a51;
    color: #fff;
    border: 0;
    font-weight: bold;
    font-size: 16px !important;
    padding: 10px 30px;
    
}
.column-empty-cart{
    display: flex;
    height: 82.7vh;
    width:100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
    flex-direction: column;
}
.profile-progress-bar{
    width:100%;
    background-color: #dcdcdc;
    border-radius: 100px;
    margin-bottom: 4px;
    height: 10px;
    border-radius: 10px;
}

.text-black-54{
    color: rgba(0,0,0,.54);
}
.fs-10{
    font-size: 10px;
}
.fs-12{
    font-size: 12px;
}
.text-black-7{
    color: rgba(0,0,0,.7);
}
.bold{
    font-weight: bold;
}
.semi-bold{
    font-weight: 600;
}
.profile-progress-bar .profile-progress-bar-status{
    border-radius: 10px;
    background: #009a51 !important;
    height: 100%;
}
.c-primary-wib{
    color: #009a51 !important;
}
.heading-section-profile-frame{
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    cursor: default;
    color: rgba(0,0,0,.7);
    opacity: 1;
}
.profile-frame--sidebar{
    padding: 15px 0;
}
.title-profile-sidebar{
    line-height: 1.5;
    padding: 0 5px;
}
.list-item-profile-sidebar{
    list-style-type: none;
    padding: 0;
}
.list-item-profile-sidebar li{
    padding: 10px 15px;
}
.profile-frame--sidebar a:hover{
    color: #ff661a !important;
}
.list-item-profile-sidebar li:hover{
    background: #fafafa;
    color: #ff661a;
}
.nav-tabs-custom li a{
    color: rgba(49, 53, 59, 0.44) !important;
    font-weight: 600;
    
}
.nav-tabs-custom > li > a{
    border: medium none !important;
  }
.nav-tabs-custom .active{
    border-bottom: 2px #009a51 solid !important;
    color: #009a51 !important;
    border: 0;
}
.nav-tabs-custom .active a{
    color: #009a51 !important;
}
.bg-transparent{
    background: transparent !important;
}
.c-cart-filter{
    color: rgba(49, 53, 59, 0.7) !important;
}
.c-pointer{
    cursor: pointer;
}
.btn-filter-product{
    background-color: rgb(244, 244, 244);
    border:1px rgb(224, 224, 224) solid;
    border-left: 0;
    border-radius: 0;
}
.text-full-payment-transaction{
    color: rgba(0,0,0,.54);
    border-left: 1px #e7eaec solid;
    margin-left: 5px;
    padding-left: 5px;
}
.text-full-price-transaction{
    color: #009a51;
}
.column-group-item-product{
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .05);
    padding: 10px 15px;
}
.column-item-product{
    display: flex;
    align-items: center;
}
.column-item-product{
    margin: 2em 0;
    overflow-x: auto;
    overflow-y: hidden;
}
.bg-primary-wib{
    background: #009a51 !important;
}
.btn-buy-more-product{
    background: #009a51;
    float: right;
    padding: 5px 25px;
    font-size: 12px !important;
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}
.btn-view-more-all-transaction{
    background: transparent !important;
    color: #009a51 !important;
    font-size: 12px !important;
    padding: 0;
    font-weight:600 !important;
    float: right;
}
.btn-view-more-transaction{
    background: transparent !important;
    color: #009a51 !important;
    font-size: 12px !important;
    float: right;
    font-weight: 600 !important;
}
.btn-payment-transaction{
    background: transparent  !important;
    margin-right: 10px;
    color: #f7a54a !important;
    font-size: 12px !important;
    float: right;
    font-weight: 600 !important;
}
.bg-warning-transaction{
    background: #f7a54a !important;
}
.btn-delivery-transaction{
    background:  transparent !important;
    margin-right: 10px;
    color: #1a7bb9 !important;
    font-size: 12px !important;
    float: right;
    font-weight: 600 !important;
}
.product-box:hover,
.product-box.active {
  border: 0 !important;
  -webkit-box-shadow: 0 !important;
  -moz-box-shadow: 0 !important;
  box-shadow: 0 !important;
}
.product-box:hover{
    -webkit-box-shadow: 0 !important;
  -moz-box-shadow: 0 !important;
  box-shadow: 0 !important;
}
.product-box{
    border: 0 !important;
}
.product-box-item:hover{
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .09);
    transition: 0.5s;
}
.product-box-item-slider{
    margin: 0 5px;
}
.product-box-item{
    transition: 0.5s;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .09);
    border: 0;
}
.product-wishlist .btn-wishlist{
    width: 40px;
    height: 40px;
    padding: 5px;
}
.product-wishlist.onwishlist button{
    background: white !important;
    color: #ed5565 !important;
    padding: 5px !important;
    border: 1px solid #efeff4 !important;
}
.input-wishlist-filter{
    width: 220px !important;
    font-size: 12px;
    border:1px #e5e7e9 solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 40px !important;
}
.btn-wishlist-filter{
    border-left: 0 !important;
    border:0;
    background-color: rgb(244, 244, 244);
    border: 1px rgb(224, 224, 224) solid;
}
.padding-15-0{
    padding: 15px 0;
}
@media (min-width: 1200px){
.col-lg-product {
    width: 20%;
    float: left;
    padding: 0 10px;
}
}
.column-empty-wishlist{
    display: flex;
    flex-direction: row;
    padding: 2em 0;
}
.column-empty-wishlist img{
    width: 120px;
    height: 120px;
}
.column-empty-wishlist h5{
    font-size: 16px;
    color: rgba(0,0,0,.5);
    line-height: 1.5;
    font-family: 'Nunito Sans', sans-serif;
}
.column-empty-wishlist button{
    background: #009a51 !important;
    color: #fff !important;
    margin-top: 1em;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 12px !important;
}
@media(max-width:430px){
    .column-empty-wishlist{
        display: block;
    }
    .column-empty-wishlist img{
        display: block;
        margin: auto;
    }
    .column-empty-wishlist button{
        display: block;
        margin: auto;
    }
    .column-empty-wishlist h5{
        text-align: center;
        padding-top: 1em;
    }
}
@media(max-width:480px){
    .column-empty-cart img{
        width: 90%;
        height: auto;
    }
    .column-empty-cart h5{
        text-align: center;
        line-height: 1.5;
    }
    .column-empty-cart p{
        text-align: center;
        line-height: 1.5;
    }
}
@media(max-width:992px){
    .btn-view-more-all-transaction{
        margin-top: 1em;
    }
}
.column-empty-transaction{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.column-empty-transaction img{
    width: 300px;
    display: block;
    margin: 2em auto 1em auto;
    height: 200px;
}
.column-empty-transaction h5{
    text-align: center;
    color: rgba(0,0,0,.5);
    line-height: 1.5;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    padding-top: 2em;
}
.column-empty-transaction button{
    background: #009a51;
    color: #fff !important;
    border: 0;
    padding: 10px;
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    width: 200px;
}   
.justify-content-center{
    justify-content: center;
}
@media(max-width:992px){
    .column-profile-frame--sidebar{
        padding: 5px;
    }
    .product-detail .col-md-4{
        padding: 0;
    }
    .product-detail .col-md-12{
        padding:0;
    }
    .product-detail .column-add-cart{
        padding: 0 15px;
        margin-top: 4em;
    }
    .product-detail .column-add-cart .p-detail-product-first{
        padding: 0;
    }
    .product-detail .column-add-cart .p-detail-product-last{
        padding: 0;
    }
    .product-detail .col-md-4 select{
        margin:0.5em 0;
    }
}
.profile-image-group{
    background-color: #f7f7f7;
    border: 1px solid rgba(0,0,0,.15);
    
}
.image-profile-setting{
    width: 100%;
    max-width: 100%;
    max-height: 350px;
    display: block;
    margin: auto;
    border-radius: 10px;
}
.btn-upload-image-profile{
    background: #fff;
    border: 1px rgba(0,0,0,.15) solid;
    color: rgba(49, 53, 59, 0.7) !important;
    font-weight: bold;
    font-size: 12px;
}
.text-terms-upload-foto{
    color: #606060 !important;
    font-size: 12px !important;
    line-height: 2;
    opacity: 0.7;
    padding-top: 1em;
}
.btn-new-password-profile{
    background: #fff;
    border: 1px rgba(0,0,0,.15) solid;
    color: rgba(49, 53, 59, 0.7) !important;
    padding: 7.5px 15px;
    margin-top: 2em;
    font-size: 12px;
    width: 100%;
    font-weight: bold;
}
.column-group-basic-profile label{
    color: #606060;
    font-weight: 600;
    font-size: 12px;
    opacity: 0.8;
}

.title-section-form-profile{
    color: rgba(0,0,0,.8);
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    padding: 30px 0 10px 0;
}
.column-group-basic-profile{
    padding: 15px 0;
}
.padding-top-0{
    padding-top: 0 !important;
}
.btn-update-basic-profile{
    background: transparent;
    color: #009a51 !important;
    border: 0;
    padding: 0 !important;
    font-size:12px;    
    font-weight: bold;
}
.table-address-profile thead tr th{
    padding: 15px 0;
}
.table-address-profile thead{
    border-bottom: solid 1px #e0e0e0;
}

/* start radio */
.form-update-profile [type="radio"]:checked,
.form-update-profile [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.form-update-profile [type="radio"]:checked + label,
.form-update-profile [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: black;
}
.form-update-profile [type="radio"]:checked + label:before,
.form-update-profile [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.form-update-profile [type="radio"]:checked + label:after,
.form-update-profile [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #009a51 !important;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.form-update-profile [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.form-update-profile [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.modal-profile [type="radio"]:checked,
.modal-profile [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.modal-profile [type="radio"]:checked + label,
.modal-profile [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 20px;
    font-size: 12px !important;
    opacity: 0.7 !important;
    display: inline-block;
    color: black;
}
.modal-profile [type="radio"]:checked + label:before,
.modal-profile [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.modal-profile [type="radio"]:checked + label:after,
.modal-profile [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #009a51 !important;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.modal-profile [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.modal-profile [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.tbody-address-profile{
    font-size: 14px;
    opacity: 0.8;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
}
.btn-update-profile-advanced{
    background: #fff;
    color: black;
    border: solid 1px #e0e0e0;
    padding: 5px 15px;
    margin-top: 0.5em;
}
.column-empty-profile-advanced{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column-empty-profile-advanced img{
    width: 150px;
    height: 150px;
    margin-top: 2em;
}
.column-empty-profile-advanced h5{
color: #333;
    font-size: 12px;
    padding-top: 2em;
}
.column-empty-profile-advanced p{
    color: #999;
    font-size: 12px;
    margin-bottom: 30px;
}
.column-empty-profile-advanced button{
    background: #009a51;
    color: #fff;
    border: 0;
    font-weight: bold;
    font-size: 12px !important;
    padding: 10px 30px;
}
.tab-content-profile{
    min-height: 40vh;
}
.modal-profile .modal-content{
    border-radius: 20px !important;
}
.modal-profile .modal-header{
    border-bottom: 0 !important;
}
.modal-profile h5{
    text-align: center;
    font-size: 18px;
    margin-block-start: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: rgba(0,0,0,.8);
}
.modal-profile p{
    text-align: center;
    color: #606060 !important;
    font-size: 12px;
}
.modal-profile .label-profile{
    font-size: 12px !important;
    
    font-weight: normal;
    padding-bottom: 0.5em;
    padding-top: 1em;
    color: #606060;
}
.modal-profile .btn-close-mdl-custom{
color: #009a51 !important;
font-weight: bold;
align-items: center;
justify-content: center;
display: flex;
height: 30px;
outline: none !important;
border-radius: 100px;
width: 30px;
/* padding: 2.5px 7.5px; */
border: 1px #009a51 solid;
opacity: 0.6 !important;
font-size: 24px !important;
}
.btn-save-profile-modal{
    background: #009a51 !important;
    color: #fff !important;
    padding: 15px 10px;
    width: 200px;
    margin-top: 1em;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}
.border-left-0{
    border-left:0 !important;
}
.border-right-0{
    border-right: 0 !important;
}
@media(max-width:480px){
    .product-detail .ibox-content{
        padding: 15px 5px !important;
    }
    .breadcumb-header{
        padding:1em 15px !important;
    }
}
.btn-smallchat .icon-chat{
    background-image: url('../img/img-product/icon-chat.png');
    width: 28px;
    height: 28px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}
.btn-smallchat{
    background: #fff !important;
    position: fixed;
    right: 40px;
    bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12) !important;
    background-color: #fff;
    display: flex;
    z-index: 88;
    align-items: center;
}
.btn-smallchat .text-chat{
    color: #4dc95b;
    padding-left: 10px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
}
.smallchat-box{
    box-shadow : 0 2px 30px 0 rgba(0,0,0,.2);
    width:350px;
    position: fixed;
    display: none;
    bottom: 30px;
    border-radius: 20px;
    background: #fff;
    right: 40px;
}
.header-smallchat-box{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    display: flex;
    justify-content: space-between;
    z-index:2 !important;
    padding: 0.5em 15px !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #fff;
}
.avatar-smallchat-header{
    height: 50px;
    width: 50px;
    border-radius: 100px;
}
.header-smallchat-box{
    padding: 5px;
}
.header-avatar-group-chat{
    display: flex;
}
.header-avatar-group-chat h5{
    font-size: 12px;
    color: black;
    line-height: 1.5;
    margin-block-end: 0;
}
.header-avatar-group-chat h5 span{
    background: #daf5db;
    color: #42b549;
    border-radius: 10px;
    font-size: 10px;
    padding: 2px 8px;
    margin-left: 5px;
}
.header-avatar-group-chat p{
    margin-block-start: 0;
}
.text-header-avatar-group{
    padding: 0 5px;
}
.text-header-avatar-group p{
    color: rgba(0,0,0,.38);
    font-size: 10px !important;
    font-weight: 600;
}
.body-smallchat-box .chatroom-timemachine{
    display: flex;
    align-items: center;
    padding: 5px;
    z-index: 1;
}
.body-smallchat-box .chatroom-timemachine img{
    margin: 5px;
}
.body-smallchat-box .chatroom-timemachine span{
    padding: 5px;
    font-size: 11px;
    line-height: 2;
}
.body-smallchat-box .chat-text-person{
    margin: 2em 15px 5em 15px;
    padding: 10px;
    line-height: 2;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.05);
}
.footer-smallchat-box{
    border-top: 1px solid #e0e0e0;
    height: 3em;
}
.footer-smallchat-box button{
    position: relative;
    right: 1em;
    float: right;
    bottom: 1.5em;
    background: #4dc95b;
    color: #fff;
    border:0;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-weight: 600;
    outline: none !important;
    font-size: 12px;
}
.btn-hidechat-box{
    height: 40px;
    padding: 0;

}
.hidechat-widget i{
    color: #4dc95b;
}
.hidechat-widget{
    cursor: pointer;
}
@media(max-width:480px){
.smallchat-box{
    right: 10px;
    width: 90% !important;
    }
    .btn-smallchat{
        right: 15px;
    }
}
/* //end */